# Kopioi tämä nimelle secrets.yaml ja täytä omat arvot.
# ÄLÄ lisää secrets.yaml-tiedostoa versionhallintaan.

wifi_ssid: "VerkonNimi"
wifi_password: "verkon-salasana"

# AP-varayhteyden salasana (vähintään 8 merkkiä)
ap_password: "hirvirata123"

# Luo komennolla:  esphome config hirvirata.yaml
# tai osoitteessa https://esphome.io/components/api.html (Generate key)
api_encryption_key: "korvaa-tama-32-tavun-base64-avaimella"

ota_password: "ota-salasana"
